:root {
  --color-principal: #fc7300;
  --color-secundario: #1f8a70;
  --color-texto: #eff5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", cursive;
  font-weight: 300;
  overflow-x: hidden;
}

main {
  padding: 40px;
}

h2,
h3,
p,
label,
input,
textarea,
form {
  font-family: "Arial", sans-serif;
}

p {
  font-family: "Georgia", serif;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-texto);
}

header {
  width: 100%;
  background-color: var(--color-princl);
  overflow: hidden;
}

nav {
  max-width: 100%;
  background-color: var(--color-principal);
  margin: 0 auto;
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  font-size: 25px;
}

nav ul li a:hover {
  background-color: var(--color-secundario);
}

.imagen-titulo-container {
  position: relative;
  text-align: center;
}

.titulo-colegio {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Impact", sans-serif;
  font-size: 50px;
  color: #181823;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imagen-colegio {
  width: 100%;
  margin: 0;
  padding: 0;
}

section,
footer {
  padding: 40px;
  margin-bottom: 20px;
}

#elegirnos,
#quienes-somos {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#quienes-somos .left-block,
#elegirnos .left-block {
  flex: 0 0 50%;
}

#quienes-somos .right-block,
#elegirnos .right-block {
  flex: 0 0 40%;
  text-align: right;
}

#quienes-somos h2,
#elegirnos h2 {
  margin-bottom: 20px;
}

#quienes-somos p,
#elegirnos p {
  margin-bottom: 20px;
}

.edu-container {
  display: flex;
}

.edu-item {
  flex: 1 1 25%;
  margin: 10px;
  text-align: center;
}

.edu-item img {
  width: 200px;
  max-width: 200px;
  height: auto;
  clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
}

.edu-item p {
  margin-top: 10px;
}

.news-container {
  display: flex;
  justify-content: space-between;
}

.news-block {
  flex: 0 0 48%;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.formulario {
  padding: 20px;
  max-width: 40%;
  margin: 0 auto;
}

.formulario form {
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #181823;
  padding: 20px;
}

.formulario label {
  margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.formulario input[type="submit"] {
  background-color: #1f8a70;
  padding: 8px 20px;
  width: auto;
}

footer {
  background-color: var(--color-principal);
  padding: 20px;
}

footer main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.redes-sociales ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.redes-sociales ul li {
  margin-bottom: 10px;
}

.nombre-instituto {
  text-align: center;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
}

.contacto {
  text-align: right;
  flex: -5;
  color: #eff5f5;
}

.contacto p {
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .formulario {
    max-width: 100%;
  }

  .formulario label,
  .formulario input,
  .formulario textarea {
    width: 100%;
  }

  .formulario input[type="submit"] {
    width: auto;
  }

  footer main {
    flex-direction: column;
    text-align: center;
  }

  .redes-sociales ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nombre-instituto,
  .contacto {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .edu-container {
    flex-direction: column;
  }

  .edu-item {
    flex: 1 1 100%;
    text-align: center;
  }

  .edu-item img {
    width: 150px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .formulario {
    max-width: 90%;
  }
}
